<footer>
    <div class="footer-wrapper">
      <div class="footer-copyright">Copyright &copy; 2024 Joban &mdash; All rights reserved.</div>
      <nav>
        <a href="/">privacy policy</a> &centerdot; <a href="/">terms of service</a>
      </nav>
    </div>
  </footer>
  
  <style>
    footer {
      border-top: 2px solid var(--clr-primary);
    }
  
    .footer-wrapper {
      padding: 0.5rem;
      margin: auto;
      text-align: center;
    }
  
    .footer-copyright {
      margin-bottom: 0.25rem;
      color: var(--clr-text-disabled);
    }
  </style>